body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: linear-gradient(45deg, #fffb1b, #ff6206, #e7ff0f, #f3de81); 
    background-size: 400% 400%; 
    animation: gradientAnimation 15s ease infinite; 
} 
 
@keyframes gradientAnimation { 
    0% { 
        background-position: 0% 50%; 
    } 
    50% { 
        background-position: 100% 50%; 
    } 
    100% { 
        background-position: 0% 50%; 
    } 
} 
 
.container { 
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; /* Добавили внутренний отступ */ 
    background-color: #333; /* Изменили цвет фона контейнера */ 
    border: 2px solid #FFA500; /* Изменили стиль границы и цвет на оранжевый */ 
    border-radius: 15px; /* Увеличили радиус закругления углов */ 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавили тень */ 
} 
 
.feed { 
    border: 2px dashed #FFA500; 
    padding: 15px; 
    margin: 15px 0; 
    background-color: #666; 
    color: #FFA500; 
    border-radius: 10px; /* Увеличили радиус закругления углов */ 
} 
 
.feed:nth-child(odd) { 
    background-color: #444; /* Изменили цвет фона для нечетных элементов */ 
} 
 
.loader { 
    position: relative; 
    top: 99%; 
    left: 48%; 
    transform: translateX(-50%, -95%); /* Центрирование точно по центру */ 
    border: 4px solid rgb(255, 255, 255); 
    border-top: 4px solid #db9834; 
    border-radius: 50%; 
    width: 25px; 
    height: 25px; 
    animation: spin 2s linear infinite; 
    display: flex; 
    justify-content: center; 
} 
 
 
@keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}