/* Общие стили */
body {
    font-family: Arial, sans-serif;
}

/* Стили для header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    color: gray;
}

#logo {
    width: 300px;
    height: 120px;
    cursor: pointer;
}

#list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 50px;
}
.block {
    border: 1px solid #000;
    padding: 10px 20px; /* Отступы слева и справа для контейнера */
    margin-top: 10px;
    width: auto; /* Отключите максимальную ширину */
}
.homework {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.homework:hover {
    color: blue;
}

.success {
    background-color: #5deb62;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    max-width: 700px; /* Максимальная ширина */
    max-height: 100px; /* Максимальная высота */
    list-style: none;
}
.warning {
    background-color: #fffb09;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    max-width: 700px; /* Максимальная ширина */
    max-height: 100px; /* Максимальная высота */
    list-style: none;
}
.html {
    background-color: #139724;
    color: white;
    padding: 5px 10px;
    max-height: 100px; /* Максимальная высота */
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}

.css {
    background-color: #8d15c5;
    color: white;
    padding: 5px 10px;
    max-height: 100px; /* Максимальная высота */
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}

.js {
    background-color: #dd8c4a;
    color: white;
    padding: 5px 10px;
    max-height: 100px; /* Максимальная высота */
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}

.arrow {
    margin-left: 35px;
}

.btn-primary {
    margin-left: 35px;
}

.count {
    margin-left: 35px;
}

.btn-secondary {
    margin-left: 35px;
}
.block {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
    display: inline-block; /* Сделаем контейнер вокруг текста */
}

.image-container {
    width: 100px; /* Установите желаемую ширину */
    height: 50px; /* Установите желаемую высоту */
    background-image: url('logo_bgtu_2_2.svg'); /* Установите вашу картинку в качестве фона */
    background-size: cover; /* Масштабируйте фон, чтобы заполнить контейнер */
    background-position: center; /* Выравнивание фона по центру контейнера */
}

#image-link {
    display: inline-block; /* Делаем ссылку блочным элементом, чтобы она занимала только область контейнера */
}

